
@import url("https://fonts.googleapis.com/css?family=Nunito|Roboto+Mono");

/* Base Styles */

body {
    position: relative;
    background-color: gainsboro;
}

* {
    box-sizing: border-box;
}

body,
input,
button {
  font-family: "Nunito", sans-serif;
}

h1 {
    color: #778;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.wrapper {
    padding: 32px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

/* Employee Cards */

.card {
    display: flex;
    background-color: aliceblue;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 1rem;
    flex: 1 1 30%;
    align-items: center;   
}

.avatar {
    border-radius: 50%;
    padding: 10px;
    width: 100px;
}

.name {
    font-size: 1.3em;
}

/* Modal View */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}
    
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.modal .avatar {
    margin-top: 1rem;
    border-radius: 50%;
    width: 150px;
}


